<a href="https://colab.research.google.com/github/Caleb-Eagan/CSC221_ceaga004/blob/main/Quiz3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Quiz 3 - Wrapup on Built-in Functions

Caleb Eagan
CSC221

In [ ]:
# abs() takes the absolute value of the input number

nums = []
for i in range(-5,6):
    nums.append(abs(i))

print(nums)
print(abs(-1.05))

[5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5]
1.05

In [ ]:
# print() - prints the given parameter in the terminal

print("Hello World")

a = 789
print(a)

b = "hi there"
print(b)

Hello World
789
hi there

In [41]:
# eval() - Evaluates the given expression. If the expression is a viable python statement, it will run it
import random

for i in range(10):
    x = random.randint(0,1)
    y = random.randint(0,1)

    print(eval('x==y'))

z = 'print("Hello World!")'
eval(z)

False
False
False
True
True
False
True
False
True
False
Hello World!

In [46]:
# format() - Formats a given value into a specified format. There are many different formats that can be used, which can be found here: https://docs.python.org/3/library/string.html#formatspec

# 'b' outputs the input in binary format
print(format(5, 'b'))

# 'e' for scientific notation
print(format(463080923, 'e'))

# '%' for percentage
print(format(.45, '%'))

# And much more!

101
4.630809e+08
45.000000%

In [ ]:
# input() - prompts the user for input, can be used without anything inside it,
#           but strings and numbers can be passed into input() if you want to have text in front of it.

a = input()
print(a)

b = input("Hello there! How are you today? ")
print(b)

c = input(12345)
print(c)

ajhfn
ajhfn
Hello there! How are you today? Good
Good
12345!!!
!!!

In [ ]:
# float() - turns the number passed into it into a float, can only be done on numbers, strings will give an error

a = float(1)
print(a)
print(type(a))

b = float(190285.092385)
print(b)
print(type(b))

try:
    c = float("hi")
except:
    print("Cannot pass strings into float()!")

1.0
<class 'float'>
190285.092385
<class 'float'>
Cannot pass strings into float()!

In [2]:
# int() - Converts the given value into an integer

a = int(3632)
print(a)
print(type(a))

b = int(-1540)
print(b)
print(type(b))

# Rounds floats
c = int(125.05)
print(c)
print(type(c))

3632
<class 'int'>
-1540
<class 'int'>
125
<class 'int'>

In [6]:
# str() - Converts the given value into a string

a = str('lemon')
print(a)
print(type(a))

b = str(24096)
print(b)
print(type(b))

c = 'svl' + str(2309)
print(c)
print(type(c))

lemon
<class 'str'>
24096
<class 'str'>
svl2309
<class 'str'>

In [ ]:
# len() - returns the length of the parameter, if a string is passed in it returns the length of the string, if a list is passed in it returns the length of the list

a = "Hi"
print(len(a))

b = ['lemon', 'grape', 'lime']
print(len(b))

c = "railroad"
print(len(c))

2
3
8

In [14]:
# list() - Creates a list, can have values passed to it initially

x = list()

# Multiple values need to be passed in as a tuple or list
y = list(['hello', 'hi'])
z = list((5,6,7,8))

print(x)
print(y)
print(z)

[]
['hello', 'hi']
[5, 6, 7, 8]

In [15]:
# dict() - Creates a dictionary. If values are passed in it is formatted as key=value

x = dict()
y = dict(fruit='lemon', number=7, name='Caleb')

print(x)
print(y)

{}
{'fruit': 'lemon', 'number': 7, 'name': 'Caleb'}

In [16]:
# tuple() - Creates a tuple

x = tuple()

# Multiple values need to be passed in as a tuple or list
y = tuple([5, 'grape'])
z = tuple(('road', 'beach', 'tower'))

print(x)
print(y)
print(z)

()
(5, 'grape')
('road', 'beach', 'tower')

In [ ]:
# type() returns what type the variable entered into the function is (string, integer, list, etc.)
a = 1
b = "cookie"
c = 3.14
d = ["apple", "orange", "banana"]
e = {'name': 'john', 'age': 27}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'dict'>

In [ ]:
# sum()
a = [7, 8, 1, 2]
b = [1, 2, 3, 5]

print(sum(a))
print(sum(b))
print(sum(a + b))

18
11
29

In [22]:
# range() - Creates a sequence of numbers from 0 to n. Parameters include range(start, stop, step). Default start is 0 and default step is 1

x = range(7)
y = range(8, 39)
z = range(0, 100, 2)

for i in x:
    print(i, end=', ')
print()

for i in y:
    print(i, end=', ')
print()

for i in z:
    print(i, end=', ')

0, 1, 2, 3, 4, 5, 6,
8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98,

In [31]:
# reversed() - Reverses a given list

a = ['lemon', 'strawberry', 'grape', 'orange', 'cantaloupe']

for i in a:
    print(i)

print()

for i in reversed(a):
    print(i)

lemon
strawberry
grape
orange
cantaloupe

cantaloupe
orange
grape
strawberry
lemon

In [25]:
# round() - rounds numbers to the nearest integer, unless a specified decimal place is given

print(round(.98714))

print(round(57.23624783, 2))

print(round(153298.098215, -3))

1
57.24
153000.0

In [23]:
# sorted() - returns a sorted list, can specify if you want it reversed or not with reverse=True

a = (1, 52, 0, 7, 98392, -4, 98, 5)

print(sorted(a))
print(sorted(a, reverse=True))

[-4, 0, 1, 5, 7, 52, 98, 98392]
[98392, 98, 52, 7, 5, 1, 0, -4]

In [ ]:
# globals() - returns a list of all global variables

print(globals())

globals = globals()
for line in globals:
    print(line)

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', 'abs()', 'abs(-1)', 'abs(-1)\nabs(5)', 'nums = []\nfor i in range(-5,6):\n    nums.append(abs(i))\n\nprint(nums)', '# abs() takes the absolute value of the input number\n\nnums = []\nfor i in range(-5,6):\n    nums.append(abs(i))\n\nprint(nums)\nprint(abs(-1.05))', '# abs() takes the absolute value of the input number\n\nnums = []\nfor i in range(-5,6):\n    nums.append(abs(i))\n\nprint(nums)\nprint(abs(-1.05))\nprint(abs(a))', "# abs() takes the absolute value of the input number\n\nnums = []\nfor i in range(-5,6):\n    nums.append(abs(i))\n\nprint(nums)\nprint(abs(-1.05))\nprint(abs('a'))", '# abs() takes the absolute value of the input number\n\nnums = []\nfor i in range(-5,6):\n    nums.append(abs(i))\n\nprint(nums)\nprint(abs(-1.05))', '# print()', '# eval()', '# format()', '# float()', '# input()', '# int()', '# str()', '# len()', '# list()', '# dict()', '# tuple()', '# type()', '# ', '# ', '# ', '# ', '# ', '# ', '# ', '# sum()', '# range()', '# sum()\na = 7\nb = 9\nsum(a + b)', '# sum()\na = 7\nb = 9\nsum(a,b)', '# sum()\na = [7, 8, 1, 2]\n\nsum(a)', '# sum()\na = [7, 8, 1, 2]\nb = [1, 2, 3, 5]\n\nsum(a)', '# sum()\na = [7, 8, 1, 2]\nb = [1, 2, 3, 5]\n\nsum(a)\nsum(b)', '# sum()\na = [7, 8, 1, 2]\nb = [1, 2, 3, 5]\n\nsum(a)\nsum(b)', '# sum()\na = [7, 8, 1, 2]\nb = [1, 2, 3, 5]\n\nsum(a)\nsum(b)\nsum(a + b)', '# sum()\na = [7, 8, 1, 2]\nb = [1, 2, 3, 5]\n\nprint(sum(a))\nprint(sum(b))\nprint(sum(a + b))', '# type()', '# type()\na = 1\nb = "cookie"\nc = 3.14\nd = ["apple", "orange", "banana"]\ne = {\'name\': \'john\', \'age\': 27}\n\nprint(type(a))\nprint(type(b))\nprint(type(c))\nprint(type(d))\nprint(type(e))', '# globals()\n\ng = globals()', '# globals()\n\ng = globals()\nfor line in g:\n    print(line)', '# globals()\n\ng = globals()\nfor line in g:\n    print(line)', '# globals()\nprint(globals())\n\nglobals = globals()\nfor line in globals:\n    print(line)'], '_oh': {2: 1, 3: 5, 32: 18, 33: 18, 34: 11, 35: 11, 36: 29}, '_dh': ['/content'], 'In': ['', 'abs()', 'abs(-1)', 'abs(-1)\nabs(5)', 'nums = []\nfor i in range(-5,6):\n    nums.append(abs(i))\n\nprint(nums)', '# abs() takes the absolute value of the input number\n\nnums = []\nfor i in range(-5,6):\n    nums.append(abs(i))\n\nprint(nums)\nprint(abs(-1.05))', '# abs() takes the absolute value of the input number\n\nnums = []\nfor i in range(-5,6):\n    nums.append(abs(i))\n\nprint(nums)\nprint(abs(-1.05))\nprint(abs(a))', "# abs() takes the absolute value of the input number\n\nnums = []\nfor i in range(-5,6):\n    nums.append(abs(i))\n\nprint(nums)\nprint(abs(-1.05))\nprint(abs('a'))", '# abs() takes the absolute value of the input number\n\nnums = []\nfor i in range(-5,6):\n    nums.append(abs(i))\n\nprint(nums)\nprint(abs(-1.05))', '# print()', '# eval()', '# format()', '# float()', '# input()', '# int()', '# str()', '# len()', '# list()', '# dict()', '# tuple()', '# type()', '# ', '# ', '# ', '# ', '# ', '# ', '# ', '# sum()', '# range()', '# sum()\na = 7\nb = 9\nsum(a + b)', '# sum()\na = 7\nb = 9\nsum(a,b)', '# sum()\na = [7, 8, 1, 2]\n\nsum(a)', '# sum()\na = [7, 8, 1, 2]\nb = [1, 2, 3, 5]\n\nsum(a)', '# sum()\na = [7, 8, 1, 2]\nb = [1, 2, 3, 5]\n\nsum(a)\nsum(b)', '# sum()\na = [7, 8, 1, 2]\nb = [1, 2, 3, 5]\n\nsum(a)\nsum(b)', '# sum()\na = [7, 8, 1, 2]\nb = [1, 2, 3, 5]\n\nsum(a)\nsum(b)\nsum(a + b)', '# sum()\na = [7, 8, 1, 2]\nb = [1, 2, 3, 5]\n\nprint(sum(a))\nprint(sum(b))\nprint(sum(a + b))', '# type()', '# type()\na = 1\nb = "cookie"\nc = 3.14\nd = ["apple", "orange", "banana"]\ne = {\'name\': \'john\', \'age\': 27}\n\nprint(type(a))\nprint(type(b))\nprint(type(c))\nprint(type(d))\nprint(type(e))', '# globals()\n\ng = globals()', '# globals()\n\ng = globals()\nfor line in g:\n    print(line)', '# globals()\n\ng = globals()\nfor line in g:\n    print(line)', '# globals()\nprint(globals())\n\nglobals = globals()\nfor line in globals:\n    print(line)'], 'Out': {2: 1, 3: 5, 32: 18, 33: 18, 34: 11, 35: 11, 36: 29}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x782532dfb7f0>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x782532dfacb0>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x782532dfacb0>, '_': 29, '__': 11, '___': 11, '_i': '# globals()\n\ng = globals()\nfor line in g:\n    print(line)', '_ii': '# globals()\n\ng = globals()\nfor line in g:\n    print(line)', '_iii': '# globals()\n\ng = globals()', '_i1': 'abs()', '_i2': 'abs(-1)', '_2': 1, '_i3': 'abs(-1)\nabs(5)', '_3': 5, '_i4': 'nums = []\nfor i in range(-5,6):\n    nums.append(abs(i))\n\nprint(nums)', 'nums': [5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5], 'i': 5, '_i5': '# abs() takes the absolute value of the input number\n\nnums = []\nfor i in range(-5,6):\n    nums.append(abs(i))\n\nprint(nums)\nprint(abs(-1.05))', '_i6': '# abs() takes the absolute value of the input number\n\nnums = []\nfor i in range(-5,6):\n    nums.append(abs(i))\n\nprint(nums)\nprint(abs(-1.05))\nprint(abs(a))', '_i7': "# abs() takes the absolute value of the input number\n\nnums = []\nfor i in range(-5,6):\n    nums.append(abs(i))\n\nprint(nums)\nprint(abs(-1.05))\nprint(abs('a'))", '_i8': '# abs() takes the absolute value of the input number\n\nnums = []\nfor i in range(-5,6):\n    nums.append(abs(i))\n\nprint(nums)\nprint(abs(-1.05))', '_i9': '# print()', '_i10': '# eval()', '_i11': '# format()', '_i12': '# float()', '_i13': '# input()', '_i14': '# int()', '_i15': '# str()', '_i16': '# len()', '_i17': '# list()', '_i18': '# dict()', '_i19': '# tuple()', '_i20': '# type()', '_i21': '# ', '_i22': '# ', '_i23': '# ', '_i24': '# ', '_i25': '# ', '_i26': '# ', '_i27': '# ', '_i28': '# sum()', '_i29': '# range()', '_i30': '# sum()\na = 7\nb = 9\nsum(a + b)', 'a': 1, 'b': 'cookie', '_i31': '# sum()\na = 7\nb = 9\nsum(a,b)', '_i32': '# sum()\na = [7, 8, 1, 2]\n\nsum(a)', '_32': 18, '_i33': '# sum()\na = [7, 8, 1, 2]\nb = [1, 2, 3, 5]\n\nsum(a)', '_33': 18, '_i34': '# sum()\na = [7, 8, 1, 2]\nb = [1, 2, 3, 5]\n\nsum(a)\nsum(b)', '_34': 11, '_i35': '# sum()\na = [7, 8, 1, 2]\nb = [1, 2, 3, 5]\n\nsum(a)\nsum(b)', '_35': 11, '_i36': '# sum()\na = [7, 8, 1, 2]\nb = [1, 2, 3, 5]\n\nsum(a)\nsum(b)\nsum(a + b)', '_36': 29, '_i37': '# sum()\na = [7, 8, 1, 2]\nb = [1, 2, 3, 5]\n\nprint(sum(a))\nprint(sum(b))\nprint(sum(a + b))', '_i38': '# type()', '_i39': '# type()\na = 1\nb = "cookie"\nc = 3.14\nd = ["apple", "orange", "banana"]\ne = {\'name\': \'john\', \'age\': 27}\n\nprint(type(a))\nprint(type(b))\nprint(type(c))\nprint(type(d))\nprint(type(e))', 'c': 3.14, 'd': ['apple', 'orange', 'banana'], 'e': {'name': 'john', 'age': 27}, '_i40': '# globals()\n\ng = globals()', 'g': {...}, '_i41': '# globals()\n\ng = globals()\nfor line in g:\n    print(line)', 'line': '_i42', '_i42': '# globals()\n\ng = globals()\nfor line in g:\n    print(line)', '_i43': '# globals()\nprint(globals())\n\nglobals = globals()\nfor line in globals:\n    print(line)'}
__name__
__doc__
__package__
__loader__
__spec__
__builtin__
__builtins__
_ih
_oh
_dh
In
Out
get_ipython
exit
quit
_
__
___
_i
_ii
_iii
_i1
_i2
_2
_i3
_3
_i4
nums
i
_i5
_i6
_i7
_i8
_i9
_i10
_i11
_i12
_i13
_i14
_i15
_i16
_i17
_i18
_i19
_i20
_i21
_i22
_i23
_i24
_i25
_i26
_i27
_i28
_i29
_i30
a
b
_i31
_i32
_32
_i33
_33
_i34
_34
_i35
_35
_i36
_36
_i37
_i38
_i39
c
d
e
_i40
g
_i41
line
_i42
_i43
globals

In [ ]:
# locals() - returns dictionary of local variables

a = 8

def simple_operations(x):
    square = x ** 2

    double = x * 2

    local = locals()
    for line in local:
        print(line)

    return square, double

print(simple_operations(5))

{'x': 5, 'square': 25, 'double': 10, 'local': {...}}
x
square
double
local
(25, 10)